.button {
	border: none;
	display: inline-block;
	padding: 0 1rem;
	line-height: 2.5rem;
	border-radius: 0.5rem;
	text-transform: uppercase;
	font-size: 0.75rem;
	white-space: nowrap;
	cursor: pointer;
}

.light_button {
	background-color: mediumslateblue;
	color: white;
}

.dark_button {
	background-color: white;
	color: mediumslateblue;
}
