:root {
	--brand-color: #adff2f;
	--black: #000000;
	--dark-gray: #282828;
	--deep-blue: #141922;
	--white: #ffffff;
	--sidebar-width: 230px;
	--sidebar-space-x: 22px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: currentColor;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
}

button {
	background-color: transparent;
	border: none;
	color: currentColor;
	/* font-size: inherit; */
}

body {
	background-color: var(--deep-blue);
	color: white;
}

.app {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.app__body {
	flex-grow: 1;
	display: flex;
}

.app__player {
	background-color: var(--dark-gray);
	/* TODO eliomare min with */
	/* min-height: 90px; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0px;
}

.app__player .player {
	width: 45%;
}

.player__controls {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

.player__controls .controls__icon {
	font-size: 24px;
}

.player__controls .controls__icon.icon__play {
	font-size: 32px;
	margin: 0 12px;
}

.player__progress {
	display: flex;
	gap: 20px;
	font-size: 12px;
	align-items: center;
	padding: 14px 0;
}

.slider {
	height: 4px;
	width: 120px;
	flex-grow: 1;
	background-color: rgba(255, 255, 255, 0.5);
}

.app__player .track {
	display: flex;
	align-items: center;
	gap: 10px;
	width: var(--sidebar-width);
	padding: 0 10px;
}

.track__album-image {
	width: 42px;
	height: 42px;
	flex-shrink: 0;
}

.track__album-image img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.track__info {
	flex-grow: 1;
}

.app__player .controls {
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 0 10px;
}

/* SIDEBAR */

.app__sidebar {
	width: var(--sidebar-width);
	flex-shrink: 0;
	background-color: var(--black);
	display: flex;
	flex-direction: column;
}

.app__sidebar .user-details {
	margin-top: auto;
}

.app__sidebar .logo {
	padding: 20px var(--sidebar-space-x);
}

.logo__lg {
	width: 132px;
}

.logo__xs {
	width: 100%;
}

.logo__lg {
	display: block;
}

.logo__xs {
	display: none;
}

/* Main menu */
.menu__item .item-icon {
	width: 24px;
}

.menu__item a {
	display: flex;
	padding: 8px var(--sidebar-space-x);
	align-items: center;
	gap: 8px;
}

.menu__item {
	position: relative;
}

.menu__item.active::before,
.menu__item:hover::before {
	position: absolute;
	content: '';
	display: block;
	height: 100%;
	width: 3px;
	top: 0;
	left: 0;
	background-color: var(--brand-color);
}

/* new playlist */
.new-playlist {
	padding: 16px 0;
}

.new-playlist__title,
.new-playlist__button {
	padding-left: var(--sidebar-space-x);
	padding-right: var(--sidebar-space-x);
}

.new-playlist__button {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-top: 12px;
	cursor: pointer;
	width: 100%;
}

.new-playlist__button .button-icon {
	background-color: white;
	aspect-ratio: 1 / 1;
	width: 37px;
	color: black;
	font-size: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.playlist-item a {
	display: block;
	padding: 8px var(--sidebar-space-x);
}

/* user info */
.user-details {
	padding: 0px var(--sidebar-space-x);
}

.user-details .app-download,
.user-details .user-profile {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 12px 0;
	width: 100%;
}

.app-download img {
	width: 16px;
}

.user-profile {
	border-top: 1px solid;
}

.user-profile .user-thumbnail {
	width: 25px;
	aspect-ratio: 1/1;
	background-color: #adadad;
	border-radius: 50%;
	overflow: hidden;
}

.user-profile .user-thumbnail img {
	display: block;
	width: 100%;
}

/* CONTENT */

.app__content {
	flex-grow: 1;
}

@media (max-width: 575.98px) {
	.app__sidebar {
		--sidebar-width: 50px;
		--sidebar-space-x: 11px;

		.playlists,
		.new-playlist {
			display: none;
		}
	}

	/* .app__sidebar .playlists {
		display: none;
	}

	.app__sidebar .new-playlist {
		display: none;
	} */

	.app__sidebar .logo {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.logo__lg {
		display: none;
	}

	.logo__xs {
		display: block;
	}

	/* main menu */

	.menu__item a {
		justify-content: center;
	}

	.menu__item .item-text {
		display: none;
	}

	.menu__item.active::before,
	.menu__item:hover::before {
		display: none;
	}

	/* user info */
	.app-download .button-text,
	.user-profile .user-name {
		display: none;
	}

	.user-profile {
		border-top: none;
	}

	.user-details .app-download,
	.user-details .user-profile {
		justify-content: center;
	}
}

/* DEBUG */
.debug .app {
	border: 2px solid red;
	padding: 20px;
}

.debug .app__body,
.debug .app__player {
	border: 2px solid cornflowerblue;
	padding: 20px;
}

.debug .app__body > * {
	border: 2px solid orange;
	padding: 20px;
}

.app__player.debug > * {
	/* padding: 20px; */
	border: 2px solid deeppink;
}

.debug .player > * {
	border: 2px solid greenyellow;
}

.debug.player__progress {
	border: 2px solid greenyellow;
}

.debug.player__progress > * {
	border: 2px solid cornflowerblue;
}

.debug .app__sidebar > * {
	border: 2px solid deeppink;
	padding: 10px;
}
