.header {
	background-color: salmon;
	color: white;
	padding: 1.5rem 0;
}

.nav_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}

.menu {
	display: flex;
	align-items: center;
	gap: 1.25rem;
}
