@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-gray-50;
}

#root {
	@apply flex flex-col min-h-screen;
}

.form-control {
	@apply flex flex-col gap-1;
}

input:not([type='submit']),
select {
	@apply border px-3 h-10 rounded-lg;
}

textarea {
	@apply border px-3 py-2 rounded-lg;
}

/* 
a[aria-current='page'] {
	@apply text-blue-950;
} */

.pulse {
	animation-name: pulse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.spin {
	animation: spin 1s infinite linear;
}

/* @keyframes pulse {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0.3;
		transform: translateY(-20px);
	}
} */

/* @keyframes spin {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
} */

.animate-spin {
	animation: spin 500ms linear infinite;
}
