/* media queries */
/* DESKTOP FIRST */

.container {
	max-width: 100%;
	/* width: 100%; */
}

@media (max-width: 480px) {
	.lessons .col,
	.steps .col,
	.why-us .col {
		width: 100%;
	}

	.row {
		flex-wrap: wrap;
		gap: 60px;
	}

	.steps {
		margin-bottom: 0;
	}

	.why-us {
		background-color: black;
		padding: 3rem 0;
		margin-bottom: 0;
	}
}
