:root {
	--blue: #0061ff;
	--light-blue: #b4d0e7;
	--light-gray: #f5f5f5;
	--black: #000000;
	--white: #ffffff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: currentColor;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
}

/* LAYOUT */
.container-fluid {
	max-width: 100%;
	margin: 0 auto;
}

.container-sm {
	max-width: 1050px;
	margin: 0 auto;
}

.container {
	max-width: 1250px;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	row-gap: 50px;
}

.row > * {
	padding: 0px 25px;
}

.row.no-gutter > * {
	padding: 0px;
}

.col-12 {
	width: 100%;
}

.col-4 {
	width: calc(4 * 100% / 12);
}

.col-8 {
	width: calc(8 * 100% / 12);
}

/* header */

.logo {
	display: block;
}

.page-header {
	padding: 18px 14px;
	font-size: 14px;
}

.navbar .row {
	align-items: center;
	justify-content: space-between;
}

.navbar .menu {
	display: flex;
	align-items: center;
}

.navbar .menu a {
	display: block;
	line-height: 34px;
	padding: 0px 16px;
}

.navbar .menu a:not(.btn):hover {
	color: var(--blue);
}

.navbar .menu .logo-wrapper {
	padding-left: 0;
}

/* HERO */

.hero {
	background-color: var(--light-blue);
	padding-top: 80px;
	padding-bottom: 20px;
}

.hero__title {
	font-size: 70px;
}

.hero .row + .row {
	margin-top: 40px;
}

.hero__content {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: flex-start;
}

.hero__icon {
	font-size: 50px;
	margin-top: auto;
}

.hero__image {
	width: 100%;
	margin-bottom: -100px;
}

/* PLANs */

.plans {
	padding: 160px 0px 80px;
}

.plans .card {
	border: 1px solid;
}

.plans__title {
	font-size: 45px;
	margin-bottom: 36px;
}

.toggle-actions {
	display: flex;
	gap: 32px;
	align-items: center;
	margin-bottom: 32px;
}

.toggle-actions .input-radio {
	display: flex;
	align-items: center;
	gap: 8px;
}

.plans .card.plan {
	height: 100%;
}

/* BUSINESS */
.business {
	padding-top: 80px;
}

.business .container-fluid {
	margin-top: 80px;
}

.brands {
	display: flex;
	flex-wrap: wrap;
}

.brands > .brand-box {
	width: 50%;
	aspect-ratio: 1 / 1;
	padding: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.brands > .brand-box img {
	width: 100%;
	height: auto;
	max-width: 120px;
	filter: invert(1);
}

.business .brand-focus {
	background-color: var(--light-gray);
	padding: 50px;
}

/* .business .container-fluid .row > * {
	border: 1px solid;
	aspect-ratio: 1 / 1;
} */

/* COMPONENTS */

/* CARD PLAN */
.card.plan {
	--padding-x: 30px;
}

.card.plan .card__header {
	padding: 12px var(--padding-x);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border-bottom: 1px solid;
}

.card.plan .card__body {
	padding: 32px var(--padding-x);
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.card.plan .features {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.card.plan .features > .features__item {
	display: flex;
	gap: 8px;
}

.card.plan .feature__icon {
	width: 24px;
	flex-shrink: 0;
	text-align: center;
}

.card.plan .plan__points .feature__icon {
	color: var(--blue);
}

.card.plan .plan_actions {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.card.plan .plan_actions::after {
	content: '';
	display: block;
	width: 70px;
	height: 0;
	border-bottom: 1px solid #939393;
	/* height: 1px;
	background-color: #939393; */
}

.card.plan .points__title {
	margin-bottom: 24px;
}

.card.card--landscape.plan .plan__info {
	flex-grow: 1;
}

.card.card--landscape.plan .plan__description {
	max-width: 640px;
}

/* .card.plan .card__body > *:not(:last-child) {
	margin-bottom: 40px;
} */

/* BUTTON */

.btn {
	display: inline-block;
	background-color: var(--blue);
	color: var(--white);
	line-height: 44px;
	padding: 0px 16px;
	text-align: center;
}

/* DEBUG */
.debug [class^='container'] {
	border: 2px solid black;
	padding: 20px;
}

.debug .row {
	border: 2px solid red;
	padding: 20px;
}

/* .debug [class^='col-'] {
	border: 2px solid cornflowerblue;
} */

.debug .row > * {
	padding: 20px;
	border: 2px solid cornflowerblue;
}
